@charset "UTF-8";
/* CSS Document */

.toolbar-title:before {
	content: "";
	background-image: url(../imgs/logo.png);
	background-repeat: no-repeat;
	display: block;
	width: 50px;
	height: 55px;
	background-size: 50px 55px;
	margin: 0px auto 10px auto;
}

.toolbar-title {text-align: center;}

.segment-ios .segment-button {
	color: #333333;
	margin-bottom: 1px;
}

.segment-md .segment-button {
	color: #333333;
	margin-bottom: 10px;
}

.segment-button.segment-activated {
	border-width: 0px;
	border-bottom: 1px solid #9150D1;
}

.intro-accepted {
	font-size: .8em;
	color: #55AF1C;
	font-style: italic;
}

.intro-declined {
	font-size: .8em;
	color: #D65555;
	font-style: italic;
}

.intro-italics {
	font-size: .8em;
	font-style: italic;
	color: #666666;
}

.avatar-speak {
	text-align: center;
  } 

.avatar-speak img {
  	border: 8px solid #ffffff;
  	width: 120px;
  	border-radius: 50%;
  } 

.speak-accept {
	margin: 0px 0;
	font-size: 1.5em;
	color: #55AF1C;
}

.speak-wrapper {
	width: 230px; 
	height: 1px; 
	margin: 0 auto 45px auto;
}

.speak-bubble1 {
	width: 20px; 
	height: 20px; 
	border-radius: 50%; 
	background-color: #fff; 
	margin: -45px 0px 0px 33px;
}

.speak-bubble2 {
	width: 45px; 
	height: 45px; 
	border-radius: 50%; 
	background-color: #fff; 
	margin: 5px 0px 0px 0px;
}

.dk-gray-message {
	color: #666666;
	font-size: .8em;
}