// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #9150D1,
  secondary:  #89D856,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:      #ffffff,
  gray:	    #B7B7B7,
  dark:       #222
);

$toolbar-background: #9150D1;
$toolbar-md-height: 130px;
$toolbar-title: center;
$toolbar-title-font-size: 1.6em;
$item-md-avatar-size: 65px;
$background-color: #EFEFEF;
$badge-md-background-color: #89D856;
$tabs-tab-color-active: #B5A1FF;
$tabs-md-tab-icon-color: #B7B7B7;

$segment-button-md-height: 8rem;
$segment-button-md-line-height: 8rem;
$segment-button-md-background-color: #ffffff;

$card-md-background-color: #ffffff;
$card-md-border-radius: 18px;
$card-md-box-shadow: none;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


$toolbar-ios-height: 120px;
$toolbar-ios-title-font-size: 1.4em;
$item-ios-avatar-size: 65px;
$badge-ios-background-color: #89D856;
$label-ios-margin: 20px 0;

$segment-button-ios-background-color: #ffffff;
$segment-button-ios-border-radius: 0px;
$segment-button-ios-border-width: 0px;
$segment-button-ios-height: 8rem;
$segment-button-ios-line-height: 8rem;
$segment-button-ios-font-size: 1.1em;
$toolbar-ios-active-color: #ffffff;

$card-ios-background-color: #ffffff;
$card-ios-border-radius: 18px;
$card-ios-box-shadow: none;
$card-ios-box-shadow-color: #ffffff;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
